<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Sku</p>
                        <h3 class="card-title">{{getDashboardResponse.sku}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i> Low skus
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Amount</p>
                        <h3 class="card-title">{{ getDashboardResponse.amount | currency:'IDR':'symbol-narrow' }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">date_range</i> Today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_late</i>
                        </div>
                        <p class="card-category">Order Pending</p>
                        <h3 class="card-title">{{getDashboardResponse.orderPending}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i> Today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">add_shopping_carts</i>
                        </div>
                        <p class="card-category">Order Delivered</p>
                        <h3 class="card-title">{{getDashboardResponse.orderDelivered}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">date_range</i> Today
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="yearlySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Yearly Sales 2023 vs 2024</h4>
                        <p class="card-category" *ngIf="percentageTodaySales > 0">
                            <span class="text"><i class="fa fa-long-arrow-up"></i> <b>{{percentageTodaySales.toFixed(2)}}%</b> </span> increase in today
                            sales.
                        </p>
                        <p class="card-category" *ngIf="percentageTodaySales <= 0">
                            <span class="text"><i class="fa fa-long-arrow-down"></i> <b>{{percentageTodaySales.toFixed(2)}}%</b> </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> total sales today = 1000
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales March vs April 2024</h4>
                        <p class="card-category" *ngIf="percentageTodaySales > 0">
                            <span class="text"><i class="fa fa-long-arrow-up"></i> <b>{{percentageTodaySales.toFixed(2)}}%</b> </span> increase in today
                            sales.
                        </p>
                        <p class="card-category" *ngIf="percentageTodaySales <= 0">
                            <span class="text"><i class="fa fa-long-arrow-down"></i> <b>{{percentageTodaySales.toFixed(2)}}%</b> </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> total sales today = 1000
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="deadstockChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Deadstock more 1 month</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="expiredChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Expired date less than 2 weeks</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="marketPerformanceChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Top 10 Sales By Values</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="stockChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Stock under minimum buffer</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="outletChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Top 5 outlet sales compare March vs April 2024</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>