<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Sku</p>
                        <h3 class="card-title">5/29</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i> Low skus
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">Rp 34.245.090.000</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_late</i>
                        </div>
                        <p class="card-category">Order Pending</p>
                        <h3 class="card-title">75/3219</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">add_shopping_carts</i>
                        </div>
                        <p class="card-category">Order Delivered</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> total sales today = 1000
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="teamPerformanceChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Team Performance</h4>
                        <p class="card-category">
                            <span class="text"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> total sales today = 1000
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Market Stats</h4>
                        <p class="card-category">Last order on 15th September, 2023</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>ID</th>
                                <th>Parent</th>
                                <th>Name</th>
                                <th>Amount</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Distributor A</td>
                                    <td>Subdist A</td>
                                    <td>Rp 36.738.000</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Distributor A</td>
                                    <td>Subdist A</td>
                                    <td>Rp 36.738.000</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Distributor A</td>
                                    <td>Subdist A</td>
                                    <td>Rp 36.738.000</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Distributor A</td>
                                    <td>Subdist A</td>
                                    <td>Rp 36.738.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Low Skus</h4>
                        <p class="card-category">Last low skus on 15th September, 2023</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Sku</th>
                                <th>Market</th>
                                <th>Name</th>
                                <th>Quantity</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4.140402.016</td>
                                    <td>Subdist A</td>
                                    <td>Lemonilo Chimi Jagung Bakar 24x50Gr </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>4.140402.016</td>
                                    <td>Subdist A</td>
                                    <td>Lemonilo Chimi Jagung Bakar 24x50Gr </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>4.140402.016</td>
                                    <td>Subdist A</td>
                                    <td>Lemonilo Chimi Jagung Bakar 24x50Gr </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>4.140402.016</td>
                                    <td>Subdist A</td>
                                    <td>Lemonilo Chimi Jagung Bakar 24x50Gr </td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>